* {
  font-family: 'Comfortaa', cursive;
  font-family: 'Merriweather', serif;
  font-family: 'Mukta', sans-serif;
}


header {
  justify-content: center;
}

#resultsHeader {
  width: 100%;
}

.favouritesTitle {
  text-align: center;
}


.jumbotron-background {
  background-image: url("./assets/img/charlotte-noelle-98WPMlTl5xo-unsplash.jpg");
  background-size: cover;
  font-size: 2.5em;
  font-weight: bold;
  width: 100%;
}

#search {
  border-radius: 0 30px 30px 0;
  padding-left: 0.9rem;
  padding-right: 1rem;
  height: 38px;
  
}

#search-input {
  border-radius: 30px 0 0 30px !important;
}

.card-styling {
  /* styling for hotel cards MAK*/
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 372px;
  width: 270px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  border-radius: 5px;
  background-color: rgb(240, 248, 255, 0.75);
  max-width: 300px;
}

.hide {
  display: none;
}

#area-interest {
  display: flex;
  justify-content: center;
}

#info-carousel {
  /* styling for info carousel */
  width: 90%;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-color: rgb(240, 248, 255, 0.75);
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  border-radius: 7px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.cards {
  /* for cards in info carousel */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .faveCards {
margin-left
  }*/

#previous {
  position: absolute;

  color: white;
  left: 0;
  cursor: pointer;
  padding: 25px;
  transition: 0.5s ease;
  border-radius: 0 5px 5px 0;
  background-color: rgb(23, 164, 186, 0.3);

}

#next {
  position: absolute;
  color: white;
  right: 0;
  cursor: pointer;
  padding: 25px;
  transition: 0.5s ease;
  border-radius: 5px 0 0 5px;
  ;
  background-color: rgb(23, 164, 186, 0.2);
}

#previous:hover,
#next:hover {
  background-color: rgb(23, 164, 186, 1);

}

/* styling for images in the areas of interest and hotel section (animation) */

.image {
  transform: translate(0px, 0px);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
  transition: 1.2s all;
  margin-bottom: 10px;
}

.image:hover {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  transform: translate(5px, -5px);

}

.hotel-image {
  /* hotel image specs */
  max-height: 170px;
  width: 100%;
  object-fit: cover;
}

.title {
  /* padding for area-interest title P element */
  padding: 10px;
  font-size: 2em;
  font-weight: 400;

}


.wrapper {
  background-size: fill;
  background-position: top;
  background-repeat: no-repeat;
}

.faveCards {
  margin: 20px;
  width: 20rem;
  height: 18rem;
  background-size: fill;
  background-position: top;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.faveCardBackground {
  background-color: aliceblue;
  width: 20rem;
  margin-top: 13rem;
  opacity: 80%;
}



.faveCardText {
  text-align: center;
  opacity: 100%;
}

.card-body-override {
  /* some styling for hotel cards*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#hotel-info {
  /* provide padding to bottom of hotel cards */
  padding-bottom: 10px;
}

.star {
  /* makes styling gold in  */
  color: #ffd700;
}



#welcome-info {
  /* styling of welcome section (h1 and P elements)*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 20px;
}

#picture-grid {
  /* div which contains the image gallery */
  padding: 0;
  position: relative;
  width: 100%;
  min-height: 400px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    'image1 image2 image2 image3 image3'
    'image5 image6 image4 image4 image8'
    'image5 image6 image7 image7 image7 '
  ;

}

/* linking images to grid!!! */

#image-1 {
  grid-area: image1;
  background-image: url(./assets/img/image1.jpg);
}

#image-2 {
  grid-area: image2;
  background-image: url(./assets/img/image2.jpg);
}

#image-3 {
  grid-area: image3;
  background-image: url(./assets/img/image3.jpg);
}

#image-4 {
  grid-area: image4;
  background-image: url(./assets/img/image4.jpg);
}

#image-5 {
  grid-area: image5;
  background-image: url(./assets/img/image5.jpg);
}

#image-6 {
  grid-area: image6;
  background-image: url(./assets/img/image6.jpg);
}

#image-7 {
  grid-area: image7;
  background-image: url(./assets/img/image7.jpg);
}

#image-8 {
  grid-area: image8;
  background-image: url(./assets/img/image8.jpg);
}

.grid-image {
  /*  styling for images in grid   */
  background-position: center;
  background-size: cover;
  margin: 2px;
  border-radius: 3px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

#grid-p {
  /* p element on lower right hand corner of image gallery */
  padding: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}

#overlay {
  /* Go ahead and search for a city */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-weight: bolder;
  opacity: 0;
  transition: opacity 0.5s;
  border-radius: 5px;
}

#overlay:hover {
  cursor: pointer;
  opacity: 1;
}

/* Style for Meet our team section*/
.team {
  margin: 2em;
  margin-top: 3em;
  padding: 0;
  box-sizing: border-box;
}

.row-team-card {
  display: flex;
  flex-wrap: wrap;
  padding: 2em 1em;
  text-align: center;
}

.team-column {
  width: 100%;
  padding: 0.5em 0;
}

.row-team-container h3 {
  width: 100%;
  text-align: center;
  color: black;
  text-transform: uppercase;
}

.team-card {
  padding: 3.5em 1em;
  border-radius: 0.6em;
  cursor: pointer;
  transition: 0.3s;
  background-color: white;
}

.team-card .img-profile {
  width: 6em;
  height: 6em;
  background-color: #17a2b8;
  padding: 0.5em;
  border-radius: 50%;
  margin: 0 auto 2em auto;
}

.team-card img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.team-card h4 {
  font-weight: 500;
}

.icons {
  width: 50%;
  min-width: 150px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #5bc0de;
}

.team-card a {
  text-decoration: none;
  color: inherrit;
  font-size: 1em;
}

.team-card:hover {
  background: linear-gradient(white, #17a2b8);
  color: #ffffff;
}

.team-card:hover .img-profile {
  transform: scale(1.15);
}

.fab {
  color: #5bc0de;
}

.team-card:hover .fab:hover {
  color: white
}


.placeBtn {
  height: 38px;
  width: 120px;

}
footer {
  color: white;
  text-align: center;
}

/* styling for the leave a comment section*/
.comment-box{
  background-color: #17a2b8;
  color: white;
  /* background: linear-gradient(white, #17a2b8); */
}
.read-comment {
  background-color: #17a2b8;
  color: white;
}

#comment-name {
  font-weight: bolder;
}

.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  flex-direction: column-reverse;
}


.saved-places { 
  margin-top: 10px;

}

.mobile-search {
  width: 100%;
}

.footer-styling {
  margin-bottom: 2px;
}

.padding-fix {
  padding-left: 0px;
  padding-right: 0px;
}

.color-opacity {
  background-color: rgba(49, 189, 211, 0.95);
}

.comment-overlay {
  position:absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 500;
  animation: transitionin 1s;
}


.fadeout {
  animation: transitionout 1s;
}

.deleteBtn {
margin-left: 17rem;
color: white;
position: absolute; margin-bottom:  15rem;
cursor: pointer;
}
.placeInfoBtn {
margin-bottom: 2.5rem !important;
}


@keyframes transitionin {
  from {
    opacity: 0;
    transition: rotateX(-10deg);
  }

  to {
    opacity: 1;
    transform: rotateY('0');
  }

}

@keyframes transitionout {
  from {
    opacity: 1;
    
  }

  to {
    opacity: 0;
  }
}


