header {
    justify-content: center;
height: 80rem;
background-size: fill;
background-position: center;
    background-repeat: no-repeat;

}


#resultsHeader {
    width: 100%;
}


.resultsTitle {
 
    justify-content: center;

 
    
}

.card-styling {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}